<launch>
    <node name="third_interface2" pkg="unr_object_manipulation" type="peer_connection_interface.py" output="screen">
    	<rosparam file="$(find robotics_task_tree_eval)/test_network_FULL.yaml"/>
        <param name="robot" value="THIRD"/>
        <param name="pub_port" value="5655"/>
        <param name="sub_port" value="5656"/>
    </node>
</launch>
